/* Mobile-first approach */

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Variables */
:root {

  /* Primary Text Colors */
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  /* Primary Background Gradient Colors */
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /* Neutral Text Colors */
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  /* Divider Color */
  --light-grayish-blue: hsl(240, 5%, 91%);

  font-size: 12px;
}

/* Browser CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: var(--soft-violet);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  margin-top: 2rem;
}

main .card {
  position: relative;
  min-width: 330px;
  max-width: 330px;
  background-color: #fff;
  border-radius: 1.5rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 1.5rem;
  margin: 1rem auto;
}


main .card .main__section h1 {
  font-size: 2.7rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--very-dark-desaturated-blue);
}

main .card .main__section .questions {
  margin: 2rem 0;
}

main .card .main__section .questions .question-div {
  border-bottom: 1px solid var(--light-grayish-blue);
  cursor: pointer;
}

main .card .main__section .questions .question-div .question {
  font-size: 1.15rem;
  color: var(--very-dark-desaturated-blue);
  margin: 1.5rem 1.5rem 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: font-weight 300ms;
}

main .card .main__section .questions .question-div .question span.active {
  font-weight: 700;
}

main .card .main__section .questions .question-div .question a img {
  height: 0.6rem;
}

main .card .main__section .questions .question-div .question a img.active {
  transform: rotate(180deg);
}

main .card .main__section .questions .question-div .answer {
  max-height: 0;
  overflow: hidden;
  font-size: 1rem;
  color: var(--dark-grayish-blue);
  transition: max-height 300ms;
}

main .card .main__section .questions .question-div .answer.active {
  max-height: 20rem;
}


/* Media Queries */

@media (min-width: 700px) {
  main .card {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding: 8rem;
    padding-left: 0;
  }
  main .card .main-image {
    display: none;
  }

  main .card .main-image-shadow {
    display: none;
  }

  main .card .box-image {
    display: block;
  }

  main .card .main-image-desktop {
    display: block;
  }

  main .card .main__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 45%;
  }

  main .card .main__section h1 {
    margin-top: 0;
  }

  main .card .main__section .questions .question-div {
    margin-right: 0;
    width: 85%;
  }
}